.button{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 5px;
    margin-inline: 5px;
}

.button .title{
    font-weight: 700;
    padding: 6px;
    color: #242424c0;
}

.button .info{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 6px;
}

@media (max-width: 768px) {
    .button{
        margin: 5px 5px 10px 5px;
    }
}